
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body{
    background: palevioletred;
}
nav .menu{
    position: absolute;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    z-index: 3;
}
nav .menu .logo{
    color: palevioletred;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    background: white;
    padding: 4px 8px;
    border-radius: 2px;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.4s ease;
}
nav .menu .logo:hover{
    opacity: 1;
}
nav .menu .menu_links{
    opacity: 0.5;
    transition: all 0.4s ease;
}
nav .menu .menu_links:hover{
    opacity: 1;
}
nav .menu .menu_links .link{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 50px;
    text-decoration: none;
    letter-spacing: 2px;
    position: relative;
    transition: all 0.3s 0.2s ease;
}
nav .menu .menu_links .link:last-child{
    margin-right: 0;
}
nav .menu .menu_links .link::before{
    position: absolute;
    content: '';
    width: 0;
    height: 4px;
    background: linear-gradient(90deg,whitesmoke 0%, rgb(172, 101, 110) 100%);
    bottom: -10px;
    border-radius: 4px;
    left: 100%;
    transition: all 0.4s cubic-bezier(0.82,0.82,0.13,1.26);
}
nav .menu .menu_links .link:hover{
    opacity: 1;
    color: rgb(172, 101, 110);
}
nav .menu .menu_links .link:hover::before{
    width: 40px;
    left: 0;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper .container{
    position: relative;
    margin: 0 auto;
    transition: all 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .container .scene{
    position: absolute;
    width: 100vw;
    height: 100vh;
    vertical-align: middle;
}
.wrapper .container .one,
.wrapper .container .two,
.wrapper .container .three,
.wrapper .container .circle,
.wrapper .container .px{
    width: 60%;
    height: 60%;
    top: 20% !important;
    left: 20% !important;
    min-width: 400px;
    min-height: 400px;
}
.wrapper .container .one .content,
.wrapper .container .two .content,
.wrapper .container .three .content,
.wrapper .container .circle .content,
.wrapper .container .px .content{
    position: absolute;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: content1 0.8s cubic-bezier(1, 0.06, 0.25, 1) backwards;
}
@keyframes content1 {
    0%{
        width: 0;
    }
}
.wrapper .container .one .content .piece,
.wrapper .container .two .content .piece,
.wrapper .container .three .content .piece,
.wrapper .container .circle .content .piece,
.wrapper .container .px .content .piece{
    position: absolute;
    height: 80px;
    width: 200px;
    display: flex;
    border-radius: 80px;
    z-index: 1;
    animation: pieceL 8s cubic-bezier(1, 0.06, 0.25, 1) infinite both;
}
@keyframes pieceL {
    50%{
        left: 80%;
        width: 10%;
    }
}
@keyframes pieceR {
    50%{
        left: 80%;
        width: 10%;
    }
}
.wrapper .container .text{
    position: absolute;
    width: 60%;
    height: 40%;
    min-height: 500px;
    min-width: 400px;
    margin: 40px 0;
    animation: text1 0.6s 1.8s ease backwards;
}
@keyframes text1 {
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
}
.wrapper .container .text article{
    position: absolute;
    width: 400px;
    left: 50%;
    bottom: 0;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
}
.wrapper .container .text article p{
    color: white;
    font-size: 18px;
    letter-spacing: 0.6px;
    margin-bottom: 40px;
    text-shadow: 6px 6px 10px gray;
}
.wrapper .container .text article button{
    height: 40px;
    padding: 0 30px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 3;
    border: none;
    box-shadow: 0px 15px 20px rgba(54, 24, 79, 0.5);
    color: #695681;
    background: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: all 0.3s ease;
}
.wrapper .container .text article button:hover{
    background: palegoldenrod;
    /* color: white; */
    box-shadow: 0px 10px -10px rgba(54, 24, 79, 0.5);
    transform: translateY(5px);
}
.wrapper .container .px{
    position: absolute;
    font-size: 200px;
    font-weight: 700;
    letter-spacing: 4px;
    color: white;
    display: flex !important;
    justify-content: center;
    align-items: center;
    z-index: 2;
    animation: anime404 0.6s cubic-bezier(0.3,0.8,1,1.05) both;
    animation-delay: 1.2s;
}
@keyframes anime404 {
    0%{
        opacity: 0;
        transform: scale(10) skew(20deg, 20deg);
    }
}
.wrapper .container .px:nth-of-type(2){
    color: palegoldenrod;
    z-index: 1;
    animation-delay: 1s;
    filter: blur(10px);
    opacity: 0.8;
}
.wrapper .container .circle{
    position: absolute;
}
.wrapper .container .circle::before{
    position: absolute;
    content: '';
    width: 800px;
    height: 800px;
    background: rgba(151, 30, 70, 0.2);
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 5px 20px 40px rgba(151, 30, 70, 0.25),
                inset 5px 0px 5px rgba(147, 42, 53, 0.3),
                inset 5px 5px 20px rgba(147, 42, 53, 0.25),
                2px 2px 5px rgba(255,255,255,0.2);
    animation: circle1 0.8s cubic-bezier(1,0.06,0.025,1) backwards;
}
@keyframes circle1 {
    0%{
        width: 0;
        height: 0;
    }
}
.wrapper .container .one .content::before{
    position: absolute;
    content: '';
    width: 600px;
    height: 600px;
    background: rgba(151, 30, 70, 0.25);
    border-radius: 100%;
    box-shadow: inset 5px 20px 40px rgba(151, 30, 70, 0.25),
                inset 5px 0px 5px rgba(147, 42, 53, 0.3),
                inset 5px 5px 20px rgba(147, 42, 53, 0.25),
                2px 2px 5px rgba(255,255,255,0.2);
    animation: circle1 0.8s cubic-bezier(1,0.06,0.025,1) backwards;
}
.wrapper .container .one .content .piece{
    background: linear-gradient(90deg, rgba(197, 13, 68, 0.726) 13.7%, palegoldenrod 94.65%);
}
.wrapper .container .one .content .piece:nth-child(1){
    right: 15%;
    top: 18%;
    height: 30px;
    width: 120px;
    animation-delay: 0.5s;
    animation-name: pieceL;
}
.wrapper .container .one .content .piece:nth-child(2){
    left: 15%;
    top: 45%;
    height: 50px;
    width: 150px;
    animation-delay: 1s;
    animation-name: pieceL;
}
.wrapper .container .one .content .piece:nth-child(3){
    left: 10%;
    top: 75%;
    height: 20px;
    width: 70px;
    animation-delay: 1.5s;
    animation-name: pieceL;
}
.wrapper .container .two .content .piece{
    background: linear-gradient(90deg, #ffedc0 0%, #ff9d87 100%);
}
.wrapper .container .two .content .piece:nth-child(1){
    left: 0%;
    top: 25%;
    height: 40px;
    width: 120px;
    animation-delay: 2s;
    animation-name: pieceL;
}
.wrapper .container .two .content .piece:nth-child(2){
    right: 15%;
    top: 35%;
    height: 50px;
    width: 180px;
    animation-delay: 2.5s;
    animation-name: pieceR;
}
.wrapper .container .two .content .piece:nth-child(3){
    right: 10%;
    top: 80%;
    height: 20px;
    width: 160px;
    animation-delay: 3s;
    animation-name: pieceR;
}
.wrapper .container .three .content .piece{
    background: #fb8a8a;
}
.wrapper .container .three .content .piece:nth-child(1){
    left: 25%;
    top: 35%;
    height: 20px;
    width: 80px;
    animation-delay: 3.5s;
    animation-name: pieceL;
}
.wrapper .container .three .content .piece:nth-child(2){
    right: 10%;
    top: 55%;
    height: 40px;
    width: 140px;
    animation-delay: 4s;
    animation-name: pieceR;
}
.wrapper .container .three .content .piece:nth-child(3){
    right: 40%;
    top: 68%;
    height: 20px;
    width: 80px;
    animation-delay: 4.5s;
    animation-name: pieceL;
}
@media screen and (max-width: 779px){
    .wrapper .container .one,
    .wrapper .container .two,
    .wrapper .container .three,
    .wrapper .container .circle,
    .wrapper .container .px{
        width: 90%;
        height: 90%;
        top: 5% !important;
        left: 5% !important;
        min-width: 280px;
        min-height: 280px;
    }
    .wrapper .container .text{
        min-height: 400px;
        height: 80%;
    }
    .wrapper .container .text article{
        width: 100%;
    }
    .wrapper .container .px{
        font-size: 100px;
    }
    .wrapper .container .circle::before{
        width: 400px;
        height: 400px;
    }
    .wrapper .container .one .content::before{
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width: 779px){
    .wrapper .container .one,
    .wrapper .container .two,
    .wrapper .container .three,
    .wrapper .container .circle,
    .wrapper .container .px{
        width: 60%;
        height: 60%;
        top: 20% !important;
        left: 20% !important;
        min-width: 280px;
        min-height: 280px;
    }
}